/*------------------------------------------------*/
/* layouts smaller than 600px, iPhone and mobiles */
@media only screen and (max-width: 480px), screen and (max-device-width: 480px), screen and (max-width: 600px) {

	/*---------------------------------------*/
	/*- HEADER ------------------------------*/
	.logo{border-bottom: 4px solid #d4d4d1;}
	
	
	/*---------------------------------------*/
	/*- NAVIGATION --------------------------*/
	ul#nav{border-bottom: 4px solid #d4d4d1;}
	ul#nav li{background: none;}
	ul#nav li:last-child{border-bottom: none;}
	ul#nav li a{border: none;}
	ul#nav li a:hover{border: none;}
	
	/*---------------------------------------*/
	/*- RIGHT COLUMN ------------------------*/
	#right-column ul.widget-list li.widget:last-child{border-bottom: none;}


	/*---------------------------------------*/
	/*- FOOTER ------------------------------*/
	#footer ul li.column li:last-child{border-bottom: none;}
	
}