@charset "UTF-8";
/* CSS Document */
/* STYLE.CSS OVERRIDES */
/* Embed box styles */
.hide { display: none; }
.show { display: block; }
.embed
{
    padding: 12px 20px;
    margin: auto;
    font-size: 14px;
    width: 80%;
    background-color: white;
}
#embed-wrapper
{
    margin: auto;
    position: absolute;
    top: 300px;
    z-index: 100000;
    width: 100%;
    max-width: 1000px;
}
.embed br { display: none; }
/* SPORTSHOW-SPECIFIC */
.oo_playhead_progress { background-color: #ea212d!important; }

/* tighten up the post sidebar spacing */
h1 a
{
    display: block;
    text-indent: -10000px;
    height: 90px;
    width: 485px;
    width: 980px;
    margin-left: -30px;
    line-height: 0;
}
h1 a span
{
    display: block;
    height: 90px;
    width: 970px;
}
/* GENERAL OVERRIDES */
#banner
{
    text-indent: -10000px;
    width: 100%;
    height: 41px;
    margin: 0 auto;
}
.post-meta li.meta-item 
{ 
    padding: 0 0 5px;
    line-height: 20px;
}
.post-meta-social a, .post-meta-social a img { border: none; }

h2, #widget-block .content-widget .post-title 
{ 
    text-align: left; 
    text-transform: none;
}
h2 
{ 
    font-weight: bold; 
    font-size: 24px;
    text-transform: uppercase;
}
h2.post-title 
{ 
    text-transform: none;
    font-weight: normal;
}
#widget-block .content-widget .post-image { margin-bottom: 0; }
#content-container
{
    max-width: 1000px;
}
.social-wrapper
{
    width: 100%;
    height: 30px;
    clear: both;
    padding: 10px 0 3px 10px;
    margin: 5px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.social-wrapper .articletools
{
    float: left;
    width: 100px;
}
.social-wrapper .fb { width: 130px; margin-top: -4px; }
.social-wrapper .gplus { width: 65px; }
body { padding: 0; }
body #header { margin-bottom: 0; }
body #header-container { padding-top: 20px; }
#header .logo { margin-bottom: 0; }


#div_top_leaderboard { width: 728px; }
#div_cube1 { width: 300px; }
.ad { margin: 5px auto; }
@media only screen and (max-width: 1000px) 
{
    h1 a 
    {
        width: 780px;
        margin: auto;
        background-size: 780px;
    }
}
@media only screen and (max-width: 780px) 
{ 
    #div_top_leaderboard { display:none; } 
    h1 a span { display: none; }
    #navigation-container { display: none!important; }
    h1 a 
    { 
        height: 80px;
        width: 600px;
        background-size: 600px;
    }
    #playerContainer { margin-left: 5px; }
    #content-container 
    {
        padding: 3px; 
        margin-top: -50px;
    }
    .logo 
    { 
        border-bottom: none!important; 
        padding-bottom: 0!important;
    }
}
@media only screen and (max-width: 610px) 
{
    #banner
    {
        height: 20px;
        background-size: 120px;
    }
    h1 a
    {
        width: 400px;
        background-size: 400px;
    }
    ul.post-meta-social-links li { width: 20px!important; }
    ul.post-meta-social-links li img
    {
        width: 20px!important;
        height: 20px!important;
    }
}
/* Phones: Portait */
@media only screen and (max-width: 400px) 
{ 
    h1 a
    {
        width: 300px;
        background-size: 300px;
    }
}

/* Hide the menu until there's something in the menu */
#menu-drop-button { display:none!important; }
/* 
===========================
FOOTER STYLES
===========================
*/

#dfmFooter {
border-top:1px solid #ddd;
margin-bottom:10px;
margin-top:5px;
}

#footerLogo {
display:block;
margin:0 auto;
}

#footerShare {
margin:20px auto 10px auto !important;
}

#cNewsDiv{margin-top:10px; margin-bottom: 10px;}
#toutVideoDiv {
margin-bottom: 10px;
}

#logoLink {
    left: 0 !important;
    position: relative !important;
    top: 0 !important;
}

.dfm_fc-webicon {
  display: inline-block;
  background-size: 100%;
  width: 30px;
  height: 30px;
  text-indent: -999em;
  text-align: left;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  margin-bottom: 5px;
}
.dfm_fc-webicon:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
}
.dfm_fc-webicon.small {
  width: 20px;
  height: 20px;
  border-radius: 3px;
}
#footerLogo {
display:block;
margin:0 auto;
}

#footerShare {
margin:20px auto 10px auto !important;
}

.dfm-share-widget li {
    display: inline-block;
    margin-left: .5em;
}
#dfmEndFooterLinks {
font:12px/22.652px "Helvetica Neue",Helvetica,Arial,sans-serif;
margin:auto;
text-align:center;
max-width:650px;
}
#dfmEndFooterLinks p {
color:#808080;
float:left;
margin-right:1em;
}
#dfmEndFooterLinks ul {
margin:5px auto;
width:auto;
max-width:1000px;
border-top: 1px solid #DDDDDD;
padding-top: 22.652px;
}
#dfmEndFooterLinks ul li {
margin-left:20px;
float:left;
}

.dfm-share-widget {
    width:164px; 
    margin:10px auto;
    text-align:center;}


/* Styles for the inplayer social buttons */
/* Offset the gap created by the social player */
.home #content-container { margin-top: -25px; }
.social-inplayer ul.post-meta-social-links li
{
    list-style-type: none;
    float: right;
    width: 40px;
    background-color: black;
    padding: 0 2px;
    opacity: 0.3;
}
.social-inplayer ul.post-meta-social-links li img
{
    height: 40px;
    width: 40px;
}
.social-inplayer ul.post-meta-social-links li:hover
{
    background-color: #EA212D;
    opacity: 1;
}
.column .social-inplayer
{
    position: relative;
    top: -820px;
    z-index: 15000;
}
.social-insideplayer
{
    position: relative;
    top: -560px;
    z-index: 15000;
}
/*
.articletools 
{ 
    position: relative;
    top: -790px;
    z-index: 15000;
}
*/
