.single-product .images{overflow: hidden; margin-bottom: 20px; position: relative;}
.single-product .thumbnails{opacity: 0; position: absolute; bottom: -30px; width: 100%; background: rgba(0, 0, 0, 0.3); text-align: center; transition: all .25s ease-in-out; -moz-transition: all .25s ease-in-out; -webkit-transition: all .25s ease-in-out;}
.single-product .images:hover .thumbnails{opacity: 1; bottom: 0px;}
.single-product .thumbnails a{margin: 20px 10px; display: inline-block;}