.ocmx-container{width: 760px;}

.ocmx-title-block{overflow: hidden; padding: 10px 0px 20px;}
.ocmx-title-block h2{float: left; margin: 0; padding: 0;}
.ocmx-title-block h5{float: right; margin: 0; padding: 0; font-size: 12px; font-weight: normal; color: #777;}
.ocmx-title-block h5 span{float: right;}

#message.woocommerce-message{float: none; clear: both; overflow: hidden;}

.ocmx-container label{font-size: 12px; font-weight: bold; color: #222;}

.ocmx-container .tooltip{display: block; clear: both; font-size: 13px; color: #777; padding-left: 2px; line-height: 1.5em;}
.del-link, .remove{ text-align: center; font-size: 11px !important; text-decoration: none;}

.wrap div.updated{clear: both; overflow: hidden;}


/*--------------------------*/
/*- LAYOUT OPTIONS ---------*/
#header-block{padding: 20px; margin: 0px; overflow: hidden; background: #3D556C; border: 1px solid #212F3C; border-bottom: none; border-radius: 5px 5px 0px 0px;}


#info-content-block{padding: 15px 20px; background: #e9e9e9; border: 1px solid #ccc; border-top: none; font-size: 11px; color: #595959;}

#content-block{margin: 0px 0px 40px; background: #fff; border: 1px solid #ccc; border-top: none; font-size: 12px; border-radius: 0px 0px 6px 6px;}
.content{padding: 20px; margin: 0px; background: #fff;}
.settings-message{padding: 0px; margin: 0px 0px 20px; color: #777;}
.base-controls{padding: 10px 20px; margin: 0px; overflow: hidden; background: #3D556C; border: 1px solid #212F3C; border-top: none; border-radius: 0px 0px 3px 3px;}
.base-controls a{float: right; margin-left: 10px;}

.obox-save, .obox-reset{cursor: pointer; font-size: 14px;}

.obox-save{float: right; padding: 6px 10px; margin-left: 10px; border-radius: 3px; background: #008FD5; border: 1px solid #009EEC; text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2); font-weight: bold; color: #fff;}
.obox-save:hover{background-color: #009EEC; border-color: #00A5F7;}

.obox-reset{float: right; padding: 7px 10px; margin-left: 10px; background: none; border: none; font-weight: bold; color: #ccc; font-size: 12px; text-decoration: underline;}
.obox-reset:hover{color: #fff;}


	/*------------------------------------*/
	/*- FORM STYLING ---------------------*/
	/*------------------------------------*/
	.form-options{clear: both; margin: 0px; padding: 0px; position: relative; line-height: normal; background: #fff;}
	.contained-forms{background: #f5f5f5; border: 1px solid #eee;}
	.contained-forms-large{padding: 0px; margin: 0px; background: #f5f5f5;}
	.contained-forms-large li.column{padding: 0px; margin: 0px;}
	.form-options li{padding: 20px 10px 10px 10px; margin: 0px; border-bottom: 1px solid #eee; overflow: auto;}
	.form-options li:last-child{border-bottom: 0px;}

	.form-options li label.parent-label{display: block; margin-bottom: 10px; font-size: 14px;}
	.form-options li .form-wrap{}
	.form-options li .form-wrap label.image-edit-item{float: left; margin: 0px 10px 10px 0px; padding: 0px; position: relative; overflow: hidden;}
	.form-options li .form-wrap label.image-edit-item a{display: block; width: 32px; height: 31px; background: url(images/image-edit-icons.png) no-repeat; position: relative; z-index: 2;}

		label.greyscale a		{background-position: 0px 0px;}
		label.negative a		{background-position: 0px -60px;}
		label.brightness a		{background-position: 0px -120px;}
		label.contrast a		{background-position: 0px -180px;}
		label.blur a			{background-position: 0px -240px;}
		label.colorize a		{background-position: 0px -300px;}
		label.noeffect a		{background-position: 0px -360px;}

		label.greyscale a.active	{background-position: -40px 0px;}
		label.negative a.active		{background-position: -40px -60px;}
		label.brightness a.active	{background-position: -40px -120px;}
		label.contrast a.active		{background-position: -40px -180px;}
		label.blur a.active			{background-position: -40px -240px;}
		label.colorize a.active		{background-position: -40px -300px;}
		label.noeffect a.active		{background-position: -40px -360px;}

	.form-options li .form-wrap label.image-edit-item input{position: absolute; top: 5px; left: 5px; z-index: 1;}

	/*--------------------------*/
	/*- PARENT FORM WIDTHS -----*/
	.form-wrap input[type=text]{width: 400px; padding: 8px; font-size: 14px; margin-bottom: 20px;}
	.form-wrap select{width: 400px; margin-bottom: 4px;}
	.form-wrap textarea{width: 400px; padding: 8px; font-size: 14px; height: 140px; margin-bottom: 4px;}


	/*--------------------------*/
	/*- CHILD FORM WIDTHS ------*/
	.form-wrap .child-form input[type=text]{float: left; width: 250px; margin-bottom: 4px;}
	.form-wrap .child-form textarea{max-height: 600px; margin-bottom: 4px;}
	.form-wrap .child-form select{width: 300px; margin-bottom: 4px;}


	.form-options li .form-wrap .child-form{clear: both; margin-bottom: 10px;}
		label.child-label{float: left; width: 180px; padding: 0px; line-height: 25px; color: #545454;}
	/*.form-options li .form-wrap .child-form span.tooltip{margin-left: 184px; width: 275px;}*/
	.form-options li .form-wrap.checkboxes{overflow: hidden;}
	.form-options li .form-wrap.checkboxes .child-form{float: left; margin: 0 8px 0 0; line-height: 22px;}

	.form-options li .form-wrap .child-form input[type=text]{margin-right: 5px;}
	.form-options li .form-wrap .child-form input[type=button]{margin-top: 6px;}


	/*------------------------------------*/
	/*- HEADER STYLES --------------------*/
	/*------------------------------------*/
	#header-block h3{padding: 0px; margin: 0px; font-size: 17px; line-height: 33px; color: #fff;}


	/*------------------------------------*/
	/*- TAB STYLES -----------------------*/
	/*------------------------------------*/
	ul.tabs{margin: 10px 0px -16px 0px; padding: 0px;}
	ul.tabs li{float: left; margin: 0px 10px 0px 0px; padding: 8px 15px; background: #f1f1f1; border: 1px solid #e0e0e0; border-bottom: 1px solid #ccc;
				border-radius: 6px 6px 0px 0px; font-size: 13px;}
	ul.tabs li.selected{background: #fff; border-color: #ccc; border-bottom: 1px solid #fff;}

	ul.tabs li a{color: #545454; text-decoration: none; font-weight: bold;}
	ul.tabs li.selected a{color: #333;}
	ul.tabs li a:hover{color: #21759b;}


	/*---------------------------------*/
	/*- GENERAL SETTINGS LAYOUT -------*/
	ul.admin-block-list{margin: 0px; background: #fff ; border-radius: 0px 0px 6px 6px;}
	ul.admin-block-list li.admin-block-item{clear: both; padding: 30px 20px; margin: 0px; overflow: auto; border-bottom: 2px solid #e0e0e0; /*border-top: 1px solid #fff;*/}
	ul.admin-block-list li.admin-block-item:first-child{border-top: none;}
	ul.admin-block-list li.admin-block-item:last-child{border-bottom: none;}
	ul.admin-block-list li .admin-description{margin-bottom: 20px;}
	ul.admin-block-list li .admin-description h4{margin: 0px; padding: 0px; font-size: 16px;}
	ul.admin-block-list li .admin-description h4 span{clear: both; color: #666;  padding: 0px; font-size: 10px; font-style: italic; font-weight: lighter;}
	ul.admin-block-list li .admin-description p{margin: 8px 0px 0px; padding: 0px; font-size: 14px; line-height: 1.3em; color: #777;}
	ul.admin-block-list li .admin-content{}
	ul.admin-block-list li .admin-content h4{color: #595959; margin: 0px 0px 5px; padding: 0px;}
	ul.admin-block-list li .admin-content select{min-width: 500px; height: auto; padding: 4px;}
	ul.admin-block-list li .admin-content input[type=text]{width: 500px; padding: 8px; font-size: 14px;}
	ul.admin-block-list li .admin-content textarea{width: 100%; padding: 2%; line-height: 1.3em; font-size: 13px; font-family: "Courier New", Courier, monospace;}
	ul.admin-block-list li .admin-content .form-wrap{margin: 0px;}
	ul.admin-block-list li .admin-content .form-wrap select{width: 500px;}


	/*--------------*/
	/*- LOGO -------*/
	.logo-display{height: 200px; margin: 20px 0px 15px; border: 1px solid #ccc; background: #fff; border-radius: 3px;}
	.logo-display a{display: block; height: 200px;}

	.previous-logos li{float: left; margin: 0px 10px 10px 0px; text-align: center;}
	.previous-logos li:nth-child(4n+4){margin-right: 0px;}
	.previous-logos li {display: block; width: 100px; height: 80px; overflow: hidden; padding: 10px; background: #f1f1f1; border: 1px solid #ccc; -webkit-border-radius: 4px; border-radius: 4px;}
	.previous-logos li a.image{display: block; width: 100px; height: 60px; position: relative; overflow: hidden;  margin-bottom: 7px;}
	.previous-logos li a.remove{color: #f00;}
	.previous-logos li img{margin: auto;}
	.previous-logos li a:hover{background: #f0f0f0;}


	/*------------------*/
	/*- TRACKING -------*/
	textarea.site-tracking{height: 200px;}
	textarea#ocmx_custom_css{width: 670px; padding: 10px; min-height: 500px;}

	/*--------------------------*/
	/*- LAYOUT OPTIONS ---------*/
	.layout-selector{margin: 0px 0px 20px; padding: 0px 0px 20px; line-height: normal; position: relative; z-index: 2; border-bottom: 1px dotted #ccc;}
	.layout-selector li{float: left; width: 210px; padding: 10px 11px 10px; margin: 0px; line-height: normal; border-radius: 6px 6px 6px 6px;}
	.layout-selector li.layout-select, .layout-selector li.sidebar-select, .layout-selector li.shop-sidebar-select{background: #f5f5f5; border: 1px solid #ccc;}
	.layout-selector li a{text-decoration: none !important;}
	.layout-selector li img{margin-right: 10px;}
	.layout-selector li h4{margin: 0px 0px 5px; padding: 0px; height: auto; line-height: normal;}
	.layout-selector li p{margin: 0px; padding: 0px; height: auto; font-size: 11px; color: #555; line-height: 1.5em;}

	.clear-left-corner{-webkit-border-top-left-radius: 0px; -moz-border-topleft-radius: 0px;}
	.clear-right-corner{-webkit-border-top-left-radius: 0px; -moz-border-topright-radius: 0px;}

	.layout-title{float: none !important; display: block; overflow: hidden; font-weight: bold; color: #000;}

		/*--------------------------*/
		/*- LAYOUT OPTIONS ---------*/
		.layout-content{}

		.layout-content .layout-options li{float: left; width: 180px; margin-right: 20px;}
		.layout-content .layout-options li a{text-decoration: none; color: #333;}
		.layout-content .layout-options li a p{color: #777;}
		.layout-content .layout-options	h4{margin: 0px 0px 5px;}

		.layout-image{display: block; padding-top: 150px;}

			/*- SITE LAYOUT ---------*/
			.layout-options li #ocmx_layout_fullwidth{background: url(images/layouts/contained-none-off.png) left top no-repeat;}
			.layout-options li.layout-select #ocmx_layout_fullwidth{background: url(images/layouts/contained-none-on.png) left top no-repeat;}

			.layout-options li #ocmx_layout_boxed{background: url(images/layouts/contained-off.png) left top no-repeat;}
			.layout-options li.layout-select #ocmx_layout_boxed{background: url(images/layouts/contained-on.png) left top no-repeat;}

			/*- HOME LAYOUT ---------*/
			.layout-options li #ocmx_layout_blog{background: url(images/layouts/blog-off.png) left top no-repeat;}
			.layout-options li.layout-select #ocmx_layout_blog{background: url(images/layouts/blog-on.png) left top no-repeat;}

			.layout-options li #ocmx_layout_preset{background: url(images/layouts/preset-off.png) left top no-repeat;}
			.layout-options li.layout-select #ocmx_layout_preset{background: url(images/layouts/preset-on.png) left top no-repeat;}

			.layout-options li #ocmx_layout_widget{background: url(images/layouts/widget-off.png) left top no-repeat;}
			.layout-options li.layout-select #ocmx_layout_widget{background: url(images/layouts/widget-on.png) left top no-repeat;}

			/*- SIDEBAR LAYOUT -------*/
			.layout-options li #ocmx_layout_sidebarleft{background: url(images/layouts/sidebar-left-off.png) left top no-repeat;}
			.layout-options li.layout-select #ocmx_layout_sidebarleft{background: url(images/layouts/sidebar-left-on.png) left top no-repeat;}

			.layout-options li #ocmx_layout_sidebarnone{background: url(images/layouts/sidebar-none-off.png) left top no-repeat;}
			.layout-options li.layout-select #ocmx_layout_sidebarnone{background: url(images/layouts/sidebar-none-on.png) left top no-repeat;}

			.layout-options li #ocmx_layout_sidebarright{background: url(images/layouts/sidebar-right-off.png) left top no-repeat;}
			.layout-options li.layout-select #ocmx_layout_sidebarright{background: url(images/layouts/sidebar-right-on.png) left top no-repeat;}


	/*--------------------------*/
	/*- NOTIFICATIONS ----------*/
	.info-bubble{display: block; width: 460px; padding-left: 35px; font-size: 10px; color: #595959; background: url(images/info-bubble.png) no-repeat left;}


	/*-----------------------------------*/
	/*- ADVERT MANAGEMENT ---------------*/
	.advert-block .ad-image{display: block; float: left; margin-right: 15px; background: #f5f5f5 url(images/no-advert-image.png) center no-repeat; border: 1px solid #ccc;}
	.advert-block a{clear: both; display: block; text-align: left;}

	.advert-125 .ad-image{width: 125px; height: 125px;}
	.advert-300 .ad-image{width: 300px; height: 250px;}

	.advert-125 .ad-forms{float: left; width: 550px;}
	.advert-300 .ad-forms{float: left; width: 375px;}
	.advert-300 .ad-forms .form-wrap{width: 375px;}
	.advert-290 .ad-forms{float: left; width: 365px;}
	.advert-290 .ad-forms .form-wrap{width: 365px;}


	/*------------------------------------*/
	/*- ELEMENT MENU STYLES --------------*/
	/*------------------------------------*/
	.element-selector{float: left; width: 188px; margin: 0px -1px 0px 0px; position: relative; z-index: 2;}
	.element-selector li{clear: both; margin: 0px; border-bottom: 1px solid #ccc;}
	.element-selector li a{display: block; padding: 10px; text-decoration: none; color: #333;}
	.element-selector li a.selected{background: #fff; font-weight: bold;}
	.element-selector li a:hover{color: #21759b;}
	.element-selected-tab{background: #fff; border-color: #ccc;}
	.element-selected{float: right; width: 548px; padding: 0px; background: #fff; border-left: 1px solid #ccc; position: relative; z-index: 1;}


	/*------------------------------------*/
	/*- FONT MANAGEMENT ------------------*/
	.font-setting-container{margin: 20px 20px 0px; background: #f5f5f5; border: 1px solid #ccc; overflow: hidden;
							-webkit-border-radius: 4px; border-radius: 4px;}
	.font-setting-container li{float: left; height: 28px; padding: 5px 10px; margin: 0px; border-right: 1px solid #ccc;}
	.font-setting-container li:first-child{padding-left: 5px;}
	.font-setting-container li:last-child{padding-right: 5px; border-right: none;}

	.font-setting-container input[type=text]{width: 75px; height: 28px; margin: 0px !important;
												font-weight: bold; font-size: 14px;}

		/*-----------------------*/
		/*- COLOURS AND FONTS ---*/
		.color_container{float: left; width: 113px; overflow: hidden;}
		.color-picker-box{float: left; display: block; margin: 0px 10px 0px 0px; background: #fff url(images/select2.png); }
		.color-picker-box div{display: block; width: 28px; height: 28px; background: #fff url(images/select2.png) center;}
		.color_container input[type=text]{width: 75px !important; height: 28px; margin: 0px !important; font-weight: bold; font-size: 14px;}

		.font-setting-container .slider_container{height: 28px;}
		.slider_container{display:block; height: 25px; top: 170px; left: 165px; width: 290px;}
		.slider_container .minus{float: left; display: block; width: 20px; height: 18px; margin: 5px 0px 0px; background: url(images/font-size-arrow-controls.png) top left; overflow: hidden; cursor: pointer; transition: none;}
		.slider_container .add{float: left; display: block; width: 20px;  height: 18px;	margin: 10px 0px 0px; background: url(images/font-size-arrow-controls.png) top right; overflow: hidden; cursor: pointer; transition: none;}
		.slider_container .minus:hover{background-position: bottom left;}
		.slider_container .add:hover{background-position: bottom right;}
		.slider_handle{width: 18px; height: 18px; background: url(images/font-size-slider-handle.png) no-repeat; position: absolute; top: -5px;}
		.slider_bar{float: left; height: 6px; width: 163px; padding: 0px 5px; margin: 11px 10px; position: relative; background: #ccc;
					-moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.6);
					-webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.6);
					box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.6);
					-webkit-border-radius: 40px; border-radius: 40px;}

		.font-setting-container .slider_container input[type=text]{width: 55px;}


		/*-----------------------*/
		/*- COLOURS AND FONTS ---*/
		.overview-container{margin: 0px; background: #fff; border: 1px solid #ccc; position: relative; overflow: auto;
								-moz-box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.05);}
		.overview-container .section{padding: 10px; border-bottom: 1px solid #ccc;}
		.overview-container .section:last-child{border-bottom: none;}


		/*-----------------------*/
		/*- FONT LIST -----------*/
		.font-list{float: left; width: 556px; padding: 10px 10px;}
		.font-list li{float: left; padding: 0px; margin: 10px;}
		.font-list li .font-item{display: block; width: 156px; padding: 0px; margin: 0px; background: #fff; border: 1px solid #ccc; position: relative; overflow: hidden;
									-webkit-border-radius: 4px; border-radius: 4px;
									-moz-box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.05);}
		.font-list li .font-item .type-display{width: 233px; padding: 10px 6px;border-bottom: 1px solid #ccc; overflow: hidden; font-size: 30px; line-height: 1em;
												-webkit-border-radius: 4px; border-radius: 4px 4px 0px 0px;}
		.font-list span.font-name{display: block; background: #f5f5f5; padding: 6px; font-size: 11px; font-weight: bold;
												-webkit-border-bottom-right-radius: 4px; -webkit-border-bottom-left-radius: 4px;
												border-radius: 0px 0px 4px 4px;
												text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);}
		.font-list li:hover{cursor: pointer;}
		.font-list li:hover span.font-name, .font-list li.select span.font-name{background-color: #298CBA;  color: #fff; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
																				-webkit-transition-duration: 0.2s, 0.2s; -webkit-transition-timing-function: linear, linear;}


	/*------------------------------------*/
	/*- GALLERY MANAGEMENT ---------------*/
	h3.gallery-name{padding: 20px 0px 10px; margin: 0px 20px 0px; border-bottom: 1px dotted #ccc;}
	.gallery-image-list{padding: 10px 0px;}
	.gallery-image-list li{float: left; padding: 10px 17px 10px; margin: 0px;}

	span.image{display: block; width: 200px; height: 133px; margin-bottom: 4px; overflow: hidden;}
	.gallery-image-list li .gallery-item{display: block; float: left; width: 200px; padding: 6px; margin: 0px; background: #1f1f1f; position: relative;
											-webkit-border-radius: 4px; border-radius: 4px;}
	.gallery-image-list li .gallery-item a.image{display: block; width: 200px; height: 150px; margin-bottom: 4px; overflow: hidden;}
	.gallery-image-list li .gallery-item a.image img{display: block;}
	.gallery-image-list li .gallery-item a.delete-image{display: block; padding: 1px 3px; background: rgba(0, 0, 0, 0.5); position: absolute; top: 10px; right: 50px;
														font-size: 8.5px; text-transform: uppercase; text-decoration: none; color: #fff;
														-webkit-border-radius: 3px; border-radius: 3px;}
	.gallery-image-list li .gallery-item a.edit-image{display: block; padding: 1px 3px; background: rgba(0, 0, 0, 0.5); position: absolute; top: 10px; right: 10px;
													font-size: 8.5px; text-transform: uppercase; text-decoration: none; color: #fff;
													-webkit-border-radius: 3px; border-radius: 3px;}

	.gallery-image-list li .gallery-item a.edit-image:hover, .gallery-image-list li .gallery-item a.delete-image:hover{background: rgba(255, 255, 255, 0.9); color: #000;}
	.gallery-image-list li .gallery-item span.image-name{display: block; float: left; min-height: 18px; font-size: 11px; font-weight: bold; color: #fff;}
	.gallery-image-list li .gallery-item span.image-date{float: right; font-size: 7.5px; color: #ccc; text-align: right;}

		/*- ADD A NEW GALLERY BUTTON -*/
		.gallery-image-list li .add-new-gallery{width: 212px; padding: 0px; background: none;}
		.add-new-gallery a{display: block; width: 198px; height: 172px; padding: 6px; margin: 0px; background: #f5f5f5 url(images/add-new-gallery.png) 82px 60px no-repeat; border: 1px solid #ccc; position: relative;
							font-weight: bold; text-decoration: none !important; color: #333; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.9); text-align: center;
							-webkit-border-radius: 4px; border-radius: 4px;}
		.add-new-gallery a:hover{border: 1px solid #13455B; background-color: #298CBA; background-position: 82px -694px; color: #fff; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
									-webkit-transition-property:text-shadow , background-color;
									-webkit-transition-duration: 0.2s, 0.2s;
									-webkit-transition-timing-function: linear, linear; }
		.add-new-gallery a span{position: relative; top: 120px;}

		/*- EDIT GALLERY FORM -*/
		.gallery-image-list li .image-form{display: none; float: right; width: 428px; padding: 15px; margin-left: 20px; background: #f1f1f1; border: 1px solid #ccc; top: -1px;
											-webkit-border-radius: 4px; -webkit-border-top-left-radius: 4px; border-radius: 4px;}

		.gallery-image-list li .image-form label.parent-label{width: 90px; float: left; margin-top: 0px;}
		.gallery-image-list li .image-form .form-wrap {width: 320px; float: left; margin-top: 0px;}
		.gallery-image-list li .image-form .form-wrap input[type=text]{width: 320px;}
		.gallery-image-list li .image-form .form-wrap textarea{width: 320px; height: 61px;}
		.gallery-image-list li .image-form .form-wrap label{display: block; float: left; width: 140px; font-size: 10px;}
		.gallery-image-list li .image-form .form-wrap input[type=checkbox], .gallery-image-list li .image-form .form-wrap input[type=radio] {margin-right: 4px;}



	/*------------------------------------*/
	/*- CREATE A NEW GALLERY -------------*/
	.new-gallery li.admin-block{padding: 20px; margin: 0px; border-bottom: 1px solid #ccc;}
		.new-gallery li.admin-block:last-child{border-bottom: none;}
		.new-gallery li.admin-block .form-wrap{width: 570px;}
		.admin-block h3{padding: 0px; margin: 0px 0px 20px;}
		label.image-edit-item{float: left; margin: 20px 10px 10px 0px; padding: 0px; position: relative; overflow: hidden;}
		label.image-edit-item a{display: block; width: 32px; height: 31px; background: url(images/image-edit-icons.png) no-repeat; position: relative; z-index: 2;}
		label.greyscale a		{background-position: 0px 0px;}
		label.negative a		{background-position: 0px -60px;}
		label.brightness a		{background-position: 0px -120px;}
		label.contrast a		{background-position: 0px -180px;}
		label.blur a			{background-position: 0px -240px;}
		label.colorize a		{background-position: 0px -300px;}
		label.noeffect a		{background-position: 0px -360px;}

		label.greyscale a.active	{background-position: -40px 0px;}
		label.negative a.active		{background-position: -40px -60px;}
		label.brightness a.active	{background-position: -40px -120px;}
		label.contrast a.active		{background-position: -40px -180px;}
		label.blur a.active			{background-position: -40px -240px;}
		label.colorize a.active		{background-position: -40px -300px;}
		label.noeffect a.active		{background-position: -40px -360px;}

	label.image-edit-item input{position: absolute; top: 5px; left: 5px; z-index: 1;}
	.upload-list{margin: 20px 0px 0px; background: #f1f1f1; border: 1px solid #ccc; -webkit-border-radius: 6px; border-radius: 6px;}
	.upload-list li{padding: 0px 0px 0px 0px; margin: 0px; background: url(images/upload-icon.png) 10px 8px no-repeat; border-bottom: 1px dotted #ccc; font-weight: bold; overflow: auto;}
	.upload-list li:last-child{border-bottom: none;}
	.upload-list li span{float: left; display: block; padding: 7px 7px 7px 32px;}
	.upload-list li a{float: right; display: block; padding: 8px 10px; margin: 0px; border-left: 1px solid #ccc; color: #c00; font-size: 10px; font-weight: lighter; text-decoration: none;}
	.upload-list li a:hover{color: #111; background: #f0f0f0}

	.dimension-block{float: left; width: 300px; margin: 20px 20px 10px 0px; background: #f1f1f1; border: 1px solid #ccc; overflow: auto; -webkit-border-radius: 6px; border-radius: 6px;}
	.dimension-block h3{padding: 6px 10px; margin: 0px; border-bottom: 1px solid #ccc; font-size: 12px;}

	.dimension-block label{float: left; display: block; width: 46px; padding: 8px 8px; margin: 10px 0px 10px 10px; background: #ffc; border: 1px solid #ccc; color: #333;
								font-size: 13px; line-height: normal; border-radius: 4px 0px 0px 4px;
								-webkit-border-top-left-radius: 4px; -webkit-border-bottom-left-radius: 4px;}
	.dimension-block input[type=text]{float: left; display: block; width: 70px; height: 34px; padding: 9px 8px 8px 8px; margin: 10px 0px 0px; background: #ffc; border: 1px solid #ccc; border-left: none;
											font-size: 13px;
											border-radius: 0px 4px 4px 0px;
											-webkit-border-radius: 4px;
											-webkit-border-bottom-left-radius: 0px;
											-webkit-border-top-left-radius: 0px;}



	/*--------------------------*/
	/*- THEME LIST LAYOUT ------*/
	.theme-block-item{display: block; float: left; width: 200px; padding: 6px; margin: 15px 17px 15px; background: #1f1f1f; position: relative;
												-webkit-border-radius: 4px; border-radius: 4px;}
	.theme-block-item h4{display: block; min-height: 18px; margin: 0px; padding: 0px; font-size: 11px; font-weight: bold; color: #fff;}
	.theme-block-item a.screenshot{display: block; width: 200px; height: 250px; margin-bottom: 4px; overflow: hidden;}
	.theme-block-item a.pricing{float: right; font-size: 7.5px; color: #ccc; text-align: right;}

/*-------------------------------------------------------------------------------------------*/
/*- Clearfix --------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
html body * span.clear,
html body * div.clear,
html body * li.clear,
html body * dd.clear
{background: none; border: 0; clear: both; display: block; float: none; font-size: 0; list-style: none;	margin: 0; padding: 0; overflow: hidden; visibility: hidden; width: 0; height: 0;}

/* http://www.positioniseverything.net/easyclearing.html */
floatleft{float: left;}
.clearfix:after{clear: both; content: '.'; display: block; visibility: hidden; height: 0;}
.clearfix{display: inline-block;}
* html .clearfix{height: 1%;}
.clearfix{display: block;}
.clearboth{clear: both;}
.no_display{display: none;}